
body {
    margin: 0;
}

#main {
    display: grid;
    height: 100vh;
}

#sky {
    display: grid;
}

.pixel {
    height: 1px;
    width: 1px;
    position: relative;
}

.cloud {
    position: absolute;
}

.star {
    position: absolute;
}