@font-face {
  font-family: 'Geist';
  src: url("./fonts/GeistVariableVF.woff2") format("woff2");
}

body {
    margin: 0;
}

#main {
    display: grid;
    height: 100vh;
    font-family: 'Geist';
    font-size: 0.9em;
}

#sky {
    display: grid;
}

.pixel {
    height: 1px;
    width: 1px;
    position: relative;
}

.cloud {
    position: absolute;
}

.star {
    position: absolute;
}

.sunset {
    position: absolute;
}

#config {
    display: grid;
    place-items: center;
    padding-bottom: 50px;
    background: linear-gradient(30deg, rgb(248, 209, 209), rgb(174, 174, 226), rgb(203, 203, 250), rgb(152, 220, 243));
}

.config-container {
   width: 100%;
   height: auto;
   display: grid;
   place-items: center;
}
.card {
    margin: 5px 0;
    width: 40rem;
}
.card-body {
    padding: 2em !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.btn {
    margin-top: 30px;
}

.random-btn {
    margin: 30px;
    margin-top: 50px;
    padding: 0;
    border: none;
    background: none;
    color: rgb(117, 117, 117);
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    text-decoration: underline;
}
.random-btn:hover {
    color: #0b5ed7;
}

.dimensions {
    display: flex;
}
/* .component {
    margin: 4px 0;
} */
.component-margin {
    margin: 8px 0;
}
.sky-width {
    margin-left: 15px;
}
.clouds-layer,
.sunset-layer {
    padding: 1.5em;
    position: relative;
    margin: 15px 0;
    width: 100% !important;
}
.delete-clouds-layer,
.delete-sunset-layer { 
    position: absolute;
    top: 1.5em; 
    right: 1.5em;
    margin: 0;
 }
.add-clouds-layer-container,
.add-sunset-layer-container {
    display: grid;
    place-items: center;
}
.add-clouds-layer,
.add-sunset-layer {
    width: auto;
    padding: 5px;
    margin-top: 10px;
}
.sunset-layer-title,
.clouds-layer-title {
    margin-bottom: 10px;
}

#loading-spinner {
    margin-top: 36px;
    display: none;
}
h4 {
    margin-bottom: 20px !important;
}

.color-picker {
    border: none;
    padding: 0;
}
.color-text {
    margin: auto 15px auto 0;
}
.same-line {
    display: inline-flex;
}

.title-container {
    display: flex;
    flex-direction: row-reverse;
}
.title {
    margin: 40px 40px 40px 0;
    align-self: center;
}
.cloud-img {
    height: 55px;
    width: 55px;
    margin: 40px 15px 40px 0;
}

#progress-text {
    margin-top: 25px;
    font-size: 1;
    color: #0b5ed7;
    display: none;
}

#canvas {
    position: absolute;
}