
body {
    margin: 0;
}

#main {
    display: grid;
    height: 100vh;
}

#sky {
    display: grid;
}

.pixel {
    height: 1px;
    width: 1px;
    position: relative;
}

.cloud {
    position: absolute;
}

.star {
    position: absolute;
}

.sunset {
    position: absolute;
}

#config {
    display: grid;
    place-items: center;
}

.config-container {
   width: 100%;
   height: auto;
   display: grid;
   place-items: center;
}
.title {
    margin: 40px 0;
}
.card {
    margin: 5px 0;
}
.card-body {
    padding: 2em !important;
}
.btn {
    margin-top: 30px;
}

.dimensions {
    display: flex;
}
.component {
    margin: 8px 0;
}
.sky-width {
    margin-left: 15px;
}
.clouds-layer,
.sunset-layer {
    padding: 1.5em;
    position: relative;
    margin: 15px 0;
}
.delete-clouds-layer,
.delete-sunset-layer { 
    position: absolute;
    top: 1.5em; 
    right: 1.5em;
    margin: 0;
 }
.add-clouds-layer-container,
.add-sunset-layer-container {
    display: grid;
    place-items: center;
}
.add-clouds-layer,
.add-sunset-layer {
    width: auto;
    padding: 5px;
    margin-top: 10px;
}

#loading-spinner {
    margin-top: 36px;
    display: none;
}