
body {
    margin: 0;
}

#main {
    display: grid;
    height: 100vh;
}

#sky {
    display: grid;
}

.pixel {
    height: 1px;
    width: 1px;
    position: relative;
}

.cloud {
    position: absolute;
}

.star {
    position: absolute;
}

.sunset {
    position: absolute;
}

#config {
    display: grid;
    place-items: center;
}

.config-container {
   width: 100%;
   height: auto;
   display: grid;
   place-items: center;
}
.title {
    margin: 40px 0;
}
.card {
    margin: 5px 0;
}
.btn {
    margin-top: 30px;
}

.dimensions {
    display: flex;
}
.component {
    margin: 8px 0;
}
.sky-width {
    margin-left: 15px;
}